<!DOCTYPE html>

<html>
	<head>
		<title>New Form Demo</title>
	</head>
	
	<body>
		<h2>Form Page</h2>
		
		<hr>
		
		<body>
			<form action="save_user" method="post">
				<table border="0" align="center" width="30%" cellpadding="3">
					<tr>
						<th align="left">
							<label for="un">User Name : </label>
						</th>
					</tr>
					<tr>
						<td>
							<input name="name" type="text" id="un">							
						</td>
					</tr>
					<tr>
						<th  align="left">
							<label for="em">User Email : </label>
						</th>
					</tr>
					<tr>
						<td>
							<input name="email" type="email" id="em">						
						</td>
					</tr>
					<tr>
						<th  align="left">
							<label for="ph">User Phone : </label>
						</th>
					</tr>
					<tr>
						<td>
							<input name="phone" type="tel" id="ph">							
						</td>
					</tr>
					<tr>
						<th  align="left">
							<label for="cn">Country : </label>
						</th>
					</tr>
					<tr>
						<td>
							<input name="country" type="text" id="cn">							
						</td>
					</tr>
					<tr>
						<td>
							<input type="submit" value="Save User">							
						</td>
					</tr>
				</table>
			</form>
			</body>
	</body>
</html>







